@model IEnumerable<Test.Models.KhachHang>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/_QT_TaiKhoan.cshtml";
}

<div class="Header">

    <div class="Header">
        <img src="~/Images/user_QT.png"
             id="User_icon"
             width="45" />
        <a href="~/SanPhams/QT_SanPham">
            <img id="Logo_Header"
                 src="~/Images/bird.png"
                 width="99" />
            <p id="Text_Header">LaptopNganNgo</p>
        </a>


        <a href="~/SanPhams/QT_SanPham">
            <p id="Product_SanPham">Sản phẩm</p>
        </a>
        <a href="~/DonHangs/Index">
            <p id="Product_DonHang">Đơn hàng</p>
        </a>
        <p id="Product_KhachHang">Khách hàng</p>
        <p id="Product_DoanhThu">Doanh thu</p>
        <a href="~/KhachHangs/TaiKhoan">
            <p id="Product_TaiKhoan">Tài khoản</p>
        </a>
        <span id="rectangle"></span>
    </div>
</div>

<div>
    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }

</div>

<p id="label_Tittle">Danh sách tài khoản</p>

<a id="button_ThemTaiKhoan" href="~/KhachHangs/Dky_QT">Thêm tài khoản</a>

<p id="label_TenTaiKhoan">Họ tên</p>
<p id="label_Email">Email</p>

<div class="Load_DSTaiKhoan">

    <div id="DS_TaiKhoan">

        @foreach (var item in Model)
        {
            if (item.GioiTinh == "Nam")
            {
                <img id="Img_TK"
                     width="50"
                     height="50"
                     src="~/Images/male.png" />
            }
            else if (item.GioiTinh == "Nữ")
            {
                <img id="Img_TK"
                     width="50"
                     height="50"
                     src="~/Images/female.png" />
            }
            else
            {
                <img id="Img_TK"
                     width="50"
                     height="50"
                     src="~/Images/rainbow-flag.png" />
            }
            if (item.HoTen != null)
            {
                <p id="txt_TenTaiKhoan">@item.HoTen</p>
            }
            else
            {
                <p id="txt_TenTaiKhoan">Admin #@item.MaKH</p>
            }
            <p id="txt_Email">@item.Email</p>

        }


    </div>

</div>


@*<div class="Footer">
    <p id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </p>
</div>*@