@model IEnumerable<Test.Models.HangSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_QT_ThemHangSP.cshtml";
}

<div class="Table_HangSP">

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p id="Name_HangSP">
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </p>
                </td>
                <td>
                    <div id="button_EditHangSP">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaHang })
                    </div>
                    <div id="button_DeleteHangSP">
                        @Html.ActionLink("Xoá", "Delete", new { id = item.MaHang })
                    </div>
                </td>
            </tr>


        }

    </table>

    <a href="@Url.Action("Create","HangSPs")" >
        <button id="button_Create">Thêm mới</button>
    </a>

</div>



<div class="Header">

        <img src="~/Images/user_QT.png"
             id="User_icon"
             width="45" />
        <a href="https://localhost:44357/QT_TrangChu/Index">
            <img id="Logo_Header"
                 src="~/Images/bird.png"
                 width="99" />
            <p id="Text_Header">LaptopNganNgo</p>
        </a>


         <a href="https://localhost:44357/QT_TrangChu/Index">
            <p id="Product_SanPham">Sản phẩm</p>
        </a>
        <a href="https://localhost:44357/QT_DonHang/Index">
            <p id="Product_DonHang">Đơn hàng</p>
        </a>
        <p id="Product_KhachHang">Khách hàng</p>
        <p id="Product_DoanhThu">Doanh thu</p>
        <p id="Product_TaiKhoan">Tài khoản</p>

        <span id="rectangle"></span>
    </div>

<div>
    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }

</div>

<div class="Footer">
    <footer id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </footer>
</div>

<p id="Text">Thêm hãng sản phẩm</p>





<a href="https://localhost:44357/QT_TrangChu/Index"><button id="btn">Quay về</button></a>


